---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Crew";
const smallImageSrc = "/assets/images/crew/background-crew-mobile.jpg";
const mediumImageSrc = "/assets/images/crew/background-crew-tablet.jpg";
const largeImageSrc = "/assets/images/crew/background-crew-desktop.jpg";
---

<BaseLayout
  pageTitle={pageTitle}
  smallImageSrc={smallImageSrc}
  mediumImageSrc={mediumImageSrc}
  largeImageSrc={largeImageSrc}
>
  <section class="crew">
    <div class="container">
      <h2 class="page-title">
        <span>02</span>MEET YOUR CREW
      </h2>
    </div>
  </section>
</BaseLayout>
