---
import BaseLayout from "../layouts/BaseLayout.astro";
import data from "../data/data.json";

const pageTitle = "Destination";
const smallImageSrc =
  "/src/assets/images/destination/background-destination-mobile.jpg";
const mediumImageSrc =
  "/src/assets/images/destination/background-destination-tablet.jpg";
const largeImageSrc =
  "/src/assets/images/destination/background-destination-desktop.jpg";
---

<BaseLayout
  pageTitle={pageTitle}
  smallImageSrc={smallImageSrc}
  mediumImageSrc={mediumImageSrc}
  largeImageSrc={largeImageSrc}
>
  <section class="destination">
    <div class="container">
      <h2 class="page-title">
        <span>01</span>PICK YOUR DESTINATION
      </h2>
    </div>
  </section>
</BaseLayout>
