---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<!-- TODO: add bg image as a prop to base layout; want to include 3 links and make it a picture with sources for all 3 images at diff size screens-->
<BaseLayout pageTitle={pageTitle}>
  <section class="hero">
    <div class="container">
      <div class="text">
        <span class="topper">So, you want to travel to</span>
        <h1>Space</h1>
        <p>
          Let’s face it; if you want to go to space, you might as well genuinely
          go to outer space and not hover kind of on the edge of it. Well sit
          back, and relax because we’ll give you a truly out of this world
          experience!
        </p>
      </div>
      <div class="button">
        <a
          href="/destination/"
          class="btn btn--solid textpreset4"
        >
          EXPLORE
        </a>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex: 1;
    display: grid;
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 425px;
  }

  .btn {
    margin-top: auto;
  }

  .button {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      display: inline-flex;
    }
  }
</style>
