---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Technology";
const smallImageSrc =
  "/assets/images/technology/background-technology-mobile.jpg";
const mediumImageSrc =
  "/assets/images/technology/background-technology-tablet.jpg";
const largeImageSrc =
  "/assets/images/technology/background-technology-desktop.jpg";
---

<BaseLayout
  pageTitle={pageTitle}
  smallImageSrc={smallImageSrc}
  mediumImageSrc={mediumImageSrc}
  largeImageSrc={largeImageSrc}
>
  <section class="technology">
    <div class="container">
      <h2 class="page-title">
        <span>03</span>SPACE LAUNCH 101
      </h2>
    </div>
  </section>
</BaseLayout>
