---
import navData from "../data/navData.json";
import Logo from "./Logo.astro";
---

<header>
  <div class="container">
    <nav
      class="navbar"
      aria-label="main navigation"
    >
      <Logo />
      <div class="nav-list-wrapper">
        <ul
          id="main-menu"
          class="nav-list"
        >
          {
            navData.map((item, index) => (
              <li
                class:list={[
                  "nav-list__item",
                  { "nav-links__dropdown": item.children?.length > 0 },
                ]}
              >
                <a href={item.url}>
                  <span class="bold">0{index}</span>
                  {item.key}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <button
        aria-expanded="false"
        aria-controls="main-menu"
        class="nav-toggle"
      >
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </button>
    </nav>
  </div>
</header>

<style>
  header {
    padding: 2rem 0;
    position: relative;
    .container {
      position: static;
    }
  }

  .navbar {
    align-items: center;
    display: flex;
    gap: 2rem;

    .logo {
      margin-right: auto;
    }
  }

  .nav-toggle {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    /* position: relative; */
    z-index: 1001;

    .line1,
    .line2,
    .line3 {
      --width: 1.25rem;
      width: var(--width);
      height: 2px;
      background-color: var(--color-header);
    }

    .line1,
    .line3 {
      transform: rotateZ(0);
      transition:
        transform 0.3s ease-in,
        opacity 0.3s;
    }
  }

  .nav-list {
    list-style-type: none;
    padding: 0;
  }

  .nav-list__item a {
    align-items: center;
    color: var(--color-header);
    display: flex;
    font-family: "Barlow Condensed";
    font-size: 1rem;
    font-weight: 400;
    gap: 0.75rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-body-text);
    }
  }

  @media (max-width: 47.9375rem) {
    body {
      overflow-x: hidden;
    }

    header {
      box-sizing: border-box;
      padding: 0;
      z-index: 10000;
    }
    .container {
      padding: 2rem;
      width: 100%;
    }
    .nav-list-wrapper {
      align-items: flex-start;
      background: rgba(11, 13, 23, 0.15);
      backdrop-filter: blur(40px);
      display: flex;
      flex-direction: column;
      gap: 3rem;
      height: 100vh;
      padding: 8rem 0 0 2rem;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      /* TODO: fix nav not sliding out properly */
      visibility: hidden;
      width: 66vw;
      z-index: -1;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    body.navbar:has(.nav-toggle[aria-expanded="true"]) {
      overflow: hidden;
    }

    .navbar:has(.nav-toggle[aria-expanded="true"]) {
      .nav-list-wrapper {
        transform: translateX(0);
        visibility: visible;
      }
      .nav-toggle {
        .line1 {
          transform: translateY(calc(var(--width) * 0.3)) rotateZ(45deg);
        }

        .line2 {
          opacity: 0;
        }

        .line3 {
          transform: translateY(calc(var(--width) * -0.3)) rotateZ(-45deg);
        }
      }
    }
  }

  @media (min-width: 48rem) {
    header {
      padding: 2rem 0;
    }

    .nav-list {
      background: none;
      display: flex;
      flex-direction: row;
      gap: 3em;
      position: static;
      width: auto;
    }

    .nav-toggle {
      display: none;
    }

    .nav-list-wrapper {
      align-items: center;
      display: flex;
      gap: 6em;
    }
  }
</style>
