---
interface Props {
  title?: string; // Override default title
  description?: string; // Override default description
}

const { title = "Space Tourism" } = Astro.props;

// Data
const canonical = Astro.url.href;

// Format page title with business name (and location if home page)
const pageTitle = `${title}`;
---

<!-- Page Title -->
<title>{pageTitle}</title>

<!-- Standard Meta Tags -->
<meta charset="utf-8" />

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
/>
<meta
  http-equiv="X-UA-Compatible"
  content="ie=edge"
/>
<link
  rel="canonical"
  href={canonical}
/>

<!-- Favicons 
       Use [RealFaviconGenerator.net](https://realfavicongenerator.net/) -->
<link
  rel="icon"
  type="image/png"
  href="/assets/favicons/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="/assets/favicons/favicon.svg"
/>
<link
  rel="shortcut icon"
  href="/assets/favicons/favicon.ico"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/favicons/apple-touch-icon.png"
/>
<link
  rel="manifest"
  href="/assets/favicons/site.webmanifest"
/>
